## Object-Oriented Programming in Python  

**Course:** EE6201 â€“ Power Systems Lab | **Instructor:** V. Seshadri Sravan Kumar | **IIT Hyderabad**  

This notebook contains lecture notes and examples on **Tuples**. Some examples in this notebook are **adopted or adapted from publicly available resources**.

---

### Tuples in Python

Tuples are ordered collections of items similar to lists, but with one key difference: **tuples are immutable**. This makes them suitable for storing fixed data that should not change during program execution.

#### Creating Tuples 

1. A **tuple** is an ordered collection of elements enclosed in parentheses ().
2. Elements are separated by commas.
3. Tuples can store mixed data types.

In [3]:
my_tuple = (1, 2, 3, 'apple', 'banana')
print(my_tuple)

(1, 2, 3, 'apple', 'banana')

**Single-Element Tuple (Important Note)**: To create a tuple with one element, a trailing comma is required.

In [5]:
t1 = (10)
t2 = (10,)

print(type(t1))  # int
print(type(t2))  # tuple

<class 'int'>
<class 'tuple'>

#### Accessing Tuple Elements

Since lists are ordered, elements can be accessed using their **index position**. Indexing starts from `0`.

Tuples also support **negative indexing**:
- `-1` refers to the last element
- `-2` refers to the second last element

In [7]:
my_tuple = (10, 20, 30, 40, 50)

# First element

# Third element

# Last element

#### Slicing and Striding

You can extract a portion of a tuple using slicing.

General syntax:

```python
tuple[start:end:step]
```

where 

- `start`: starting index (inclusive)
- `end`: ending index (exclusive)
- `step`: stride value

In [8]:
my_tuple = (10, 20, 30, 40, 50)

# slice from 1 to 3


# stide with a step of 2

**Length of a Tuple**: The number of elements in a tuple can be found using `len()`.

In [9]:
my_tuple = (10, 20, 30, 40, 50)
print(len(my_tuple))

5

#### Searching in Tuples

Many **search operations available for lists are also applicable to tuples**.

**Applicable Operations**:

1. Membership check using `in`

2. Index lookup using `index()`

3. Counting occurrences using `count()`

In [12]:
my_tuple = (10, 20, 30, 20, 40)

# check if 30 and 60 are elements of the tuple


# Identify the index of the element 30

my_tuple = (10, 20, 30, 20, 40, 20)

# determine number of occurances of 20 and 50 in the tuple

#### Iterating Through a Tuple

Tuples are iterable and can be looped through using a `for` loop.

In [13]:
my_tuple = (10, 20, 30, 40)

for value in my_tuple:
    print(value)

10
20
30
40

#### Tuple Packing and Unpacking

**Tuple Packing**: Assigning multiple values automatically creates a tuple.

In [14]:
data = 10, 20, 30
print(data)

(10, 20, 30)

**Tuple Unpacking**: Assigning tuple elements to multiple variables.

In [15]:
x, y, z = (10, 20, 30)
print(x)
print(y)
print(z)

10
20
30